.Home {
    text-align: center;
    background-image: url("../wallhaven-9ml1xk.png");
    background-attachment: fixed;
    background-size: 100%;
}

.HomePage {
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin: auto;
}