.device_imgs {
    display: flex;
    justify-content: space-around;
}

.chkbox {
    display: flex;
    justify-content: center;
}
#device_select {
    display: flex;
    justify-content: space-around;
}

#drone_img, #robot_img {
    height: 40%;
    width: 40%;
}

#device_selection_prompt {
    text-align: center;
}